:root{
  
}

body{
  overflow: scroll;
}

.App{
  display: flex;
  justify-content: start;
  align-items: start;
}

.cv-inputs{
  flex: 1;
  padding: 1rem;
  min-width: 375px;
  max-width: 375px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px){
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

p.contact{
  font-size: 0.9em;
}

p{
  font-size: 1em;
}

span{
  font-size: 1em;
}


/*TODO: get bullet points aligned*/

.cv-outputs{
  flex: 1;
  margin-left: 1rem;
}

/*Prevents e.target from returning anything but the button*/
.disable-pointer-event{
  pointer-events: none;
}

.cv-input-field{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}