:root{
  
}

body{
  overflow: scroll;
}

.App{
  display: flex;
  justify-content: start;
  align-items: start;
}

.cv-inputs{
  padding: 1rem;
  min-width: 375px;
  max-width: 3750px;
  height: fit-content;
}

@media (max-width: 1000px){
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .cv-inputs{
    min-width: 300px;
    max-width: 300px;
  }
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.125rem;
  }
  h3{
    font-size: 1rem;
  }
  p, span, input, i{
    font-size: 0.75rem;
  }
  button{
    font-size: 0.75rem;
  }
}

.cv-outputs{

}

/*Prevents e.target from returning anything but the button*/
.disable-pointer-event{
  pointer-events: none;
}

