:root{
  
}

html, body, #root, .App, .App>div {
  height: 100%;
  width: 100%;
}

body{
  overflow: scroll;
}

.App{
  display: flex;
  justify-content: start;
  align-items: start;
}

@media (max-width: 1000px){
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.cv-inputs{
  padding: 1rem;
  min-width: 400px;
  max-width: 400px;
}

.cv-outputs{

}

/*Prevents e.target from returning anything but the button*/
.disable-pointer-event{
  pointer-events: none;
}

