.hide.input-field{
  display: none;
}

.show{
  display: flex;
}

/*Found in both BasicInfo and Education component*/
.input-field{
  display: flex;
  flex-direction: column;
}

button.disabled{
  pointer-events: none;
  cursor: not-allowed !important;
}

