h1, h2, h3, h4, h5, h6, p{
  padding: 0;
  margin: 0;
}



.cv-outputs{
  display: flex;
  align-items: start;
  justify-content: center;
}

.basic-info-output{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contact-info{
  display: flex;
  text-wrap: nowrap;
}


.resume{
  padding: 3rem;
  border: 2px solid;

  /*Dimensions correspond to jsPDF's a4 paper size*/
  min-width: 595px;
  max-width: 595px;
  min-height: 841px;
  max-height: 841px;
}

.education-output{
  
}

.output{
  margin-bottom: 10px;
}
.resume-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.resume-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-item-left{
  display: flex;
  flex-direction: column;
}
.resume-item-right{
  display: flex;
  flex-direction: column;
}

.resume-item-top-right{
  display: flex;
  justify-content: end;
}

.resume-item-bottom-right{
  display: flex;
  justify-content: end;
}
.bold{
  font-weight: bold;
}

.bullet-points{
  margin-left: 1rem;
}